@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color: #1E1E1E;
}

.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 25px;

}

.logoIFCE{
  width: 220px;
  border-radius: 0px;
}

.navegacao{
  display: flex;
  gap: 50px;
}

.navegacao-item{
  color: #D9B48F;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Saira Condensed;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  
}

.navegacao-item:hover{
  cursor: pointer;
  border: 3px solid #D9B48F;
  border-radius: 10px;
}

.secao-superior{
  border-top: 3px solid #D9B48F;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 50px;
  gap: 70px;
  
}

.texto-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.titulo-principal{
  color: #D9B48F;
  font-family: Saira Condensed;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  width: 477px;
  height: 170px;
  
}

.texto-introducao{
  color: #D6CFCB;
  font-family: Saira Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;

  width: 608px;
  height: 458px;
}


/*----- SLIDESHOW -----*/
.slide-foto {display: none;}

img {
  vertical-align: middle;
  border-radius: 30px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  border-radius: 30px;

}

/* Nome da Pessoa */
.slide-nome-pessoa {
  color: #fab48f;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Bolinhas/pontos */
.dot {
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #D6CFCB;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #fab48f;
}

/* Animação do slide */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .slide-nome-pessoa {font-size: 11px}
}


.secao-inferior{
  border-top: 3px solid #D9B48F;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 50px;
  gap: 70px;
}

.secao-inferior-esquerda{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

}

/*galeria de imagens - imagens link*/
.galeria {
    margin: 5px;
    float: left;
   
    transition: all .5s;
    border: 5px solid transparent;
  }

  .galeria:hover {
    border: 5px solid #D6CFCB;
    border-radius: 35px;
  }
  .imagem-galeria{
    width: 200px;
  }


  .descricao-galeria {
    padding: 10px;
    text-align: center;
    font-family: Saira Condensed;
    color:  #D6CFCB;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
  }
